doctype html
html(lang='en')
  include includes/head
  body#samuel.boxed
    #preloader
    include includes/header
    .content-wrap
      #mnie.inner-content
        section#page-title.inner-section.ui-menu-color04
          .container-fluid.nopadding
            h2.font-accident-two-bold.color04(data-animation-origin='right', data-animation-duration='400', data-animation-delay='100', data-animation-distance='50px')
              | PREZENTACJE KONFERENCYJNE
        section.inner-section.bg-color01
          .container-fluid
            h3.uppercase.text-center Wybrane prezentacje konferencyjne
            .dividewhite4
            p
              | <strong>Studzinska, A.</strong> (2016). <em>Experiences and perceptions of sexual harassment in Poland</em>.
              | Paper presented at the 13th International Conference on Social Representations, Marseille, France,
              | September 14-17.
            p
              | <strong>Studzinska, A.</strong> (2016). <em>Women suffer and men are evil: Social perception of victims
              | and perpetrators of sexual harassment</em>.
              | Paper presented at the Motivation and Social Perception Conference, Gdansk,
              | Poland, July 19-21.
            p
              | <strong>Studzinska, A.</strong> (2015). <em>Are men moral agents? Are women moral patients? Sex of the
              | perpetrators and victims of sexual harassment and their evaluation</em>.
              | Paper presented at the EASP Medium Size
              | Meeting: Moral judgment and behaviour, Sopot, Poland, June 26-28.
            p
              | <strong>Studzinska, A.</strong>, & Hilton, D. (2013). <em>Types of sexual harassment and their social
              | perception</em>. Paper presented at The 10th meeting of the Polish Society of Social Psychology,
              | Krakow, Poland, September 13-15.
            p
              | <strong>Studzinska, A.</strong>, & Hilton, D. (2013). <em>Social perception of psychological trauma
              | caused to male and female victims of sexual harassment and social evaluation of their oppressors – the
              | minimization of male trauma effect</em>. Paper presented at the 34 Stress and Anxiety Research Society
              | Conference, Faro, Portugal, July 1-3.
            p
              | Besta, T., & <strong>Studzinska, A.</strong> (2013). <em>Compensatory agentic self-description among
              | men as a function of exposure to fertility of women – preliminary studies</em>. Paper presented at the
              | Motivation in Social Context Conference, Krakow, Poland. June 30- July 2.
            p
              | <strong>Studzinska, A.</strong>, & Hilton, D. (2012). <em>Boys don’t cry – perception of harm caused to
              | male and female victims of sexual harassment and evaluation of their oppressors</em>. Paper presented
              | at the European Social Cognition Network Transfer of Knowledge Conference, Estoril, Portugal, September
              | 5-9.
            p
              | <strong>Studzinska, A.</strong> (2012). <em>Power, agency and communion - differences in evaluation of
              | male and female sexual harassment perpetrators and perception of harm caused to their victims</em>.
              | Paper presented at EASP Small Group Meeting on Control Experience, Power and Intergroup Relations,
              | Kazimierz Dolny, Poland, July 2-5.
            p
              | <strong>Studzinska, A.</strong> (2011). <em>Differences in evaluation of men and women in domestic
              | roles: a French and Polish comparison</em>. Poster accepted for the 8th meeting of the Polish Society
              | of Social Psychology, Poznan, Poland, September 8–10.
            p
              | <strong>Studzinska, A.</strong> (2011). <em>Social evaluation of promiscuous behavior. Should women
              | keep quiet about their sex life and should men brag about it?</em> Paper presented at the VI PhD
              | Meeting in Social and Organizational Psychology. Lisbon, Portugal, May 19–10.
    include includes/footer
