doctype html
html(lang='en')
  include includes/head
  body#samuel.boxed
    #preloader
    include includes/header
    .content-wrap
      #mnie.inner-content
        section#page-title.inner-section.ui-menu-color02
          .container-fluid.nopadding
            h2.font-accident-two-bold.color02.uppercase(data-animation-origin='right', data-animation-duration='400', data-animation-delay='100', data-animation-distance='50px')
              | CV

        section.inner-section.bg-color01
          .container-fluid
            .col-sm-12.cv-link.text-center
              a(href="assets/CV_PL_Anna_Studzinska_website_20022017.pdf")
                i.fa.fa-long-arrow-down(aria-hidden="true")
                | Krótka wersja CV (PL)
              | &nbsp;
              a(href="assets/CV_EN_Anna_Studzinska_website_20022017.pdf")
                i.fa.fa-long-arrow-down(aria-hidden="true")
                | Długa wersja CV (EN)

        section.inner-section.bg-color02
          .container-fluid
            h3.uppercase.text-center Wykształcenie
            .dividewhite4
            .row
              .col-md-2
                strong Doktorat Psychologia
              .col-md-10
                p
                  | Uniwersytet w Tuluzie Jean Jaures, Francja<br/>
                  |wrzesień 2015<br/>
                  | Dysertacja: Gender Differences in Perception of Sexual Harassment (praca obroniona z wyróżnieniem)<br/>
                  | Promotorzy: Bogdan Wojciszke i Denis Hilton<br/>
                  | Recenzenci: Maria Lewicka i Patrick Mollaret
            .row
              .col-md-2
                strong Magisterium Psychologia
              .col-md-10
                p
                  | Uniwersytet Gdański, Gdańsk<br/>
                  | wrzesień 2008<br/>
                  | Praca magisterska: Oceny zachowań promiskuitywnych a płeć osoby ocenianej<br/>
                  | Ocena: bardzo dobry<br/>
                  | Specjalizacja: Psychologia międzykulturowa i psychologia rodzaju<br/>

        section.inner-section.bg-color01
          .container-fluid
            h3.uppercase.text-center Dydaktyka oraz doświadczenie zawodowe
            .dividewhite4
            .row
              .col-md-2 02.2013 — 02.2017
              .col-md-10
                p
                  | Uniwersytet SWPS, Sopot; Kierownik Projektu<br/>
                  | Zarządzanie projektem badawczym <em>Differences in perception of sexual harassment, depending on
                  | the sex of victims and perpetrators - the minimization of male trauma effect</em><br/>
                  | W ramach grantu PRELUDIUM Narodowego Centrum Nauki
            .row
              .col-md-2 2011 — 2016
              .col-md-10
                p
                  | Uniwersytet w Tuluzie Jean Jaures, Francja<br/>
                  | Przygotowanie i prowadzenie zajęć (w języku francuskim):
                ul
                  li Obróbka i analiza danych ilościowych (SPSS)
                  li Psychologia społeczna – wprowadzenie
                  li Psychologia społeczna – poziom średniozaawansowany
            .row
              .col-md-2 2010/2011
              .col-md-10
                p
                  | Uniwersytet SWPS, Sopot<br/>
                  | Przygotowanie i prowadzenie zajęć:
                ul
                  li Psychologia społeczna I
                  li Psychologia społeczna II
                  li Praca empiryczna I
            .row
              .col-md-2 12.2010
              .col-md-10
                p
                  | Uniwersytet w Lille, Francja<br/>
                  | Przygotowanie i prowadzenie zajęć (w języku angielskim):
                ul
                  li Cross-cultural psychology in business and management
                  li Brand marketing, new technologies and psychology research methods in market research
                  li Cross-cultural psychology in communication studies
            .row
              .col-md-2 10.2008 — 08.2011
              .col-md-10
                p
                  | GE Money Bank / Bank BPH, Gdańsk;<br/>
                  | Market Research Analyst & Marketing Analyst<br/>
                  | Obowiązki:
                ul
                  li Przygotowanie briefów, wybór oraz współpraca z agencjami badawczymi (badania ilościowe i jakościowe)
                  li Przeprowadzanie badań wewnętrznych, analiza danych i ich prezentacja
                  li Praca w zespole odpowiedzialnym za rebranding i repozycjonowanie marki GE Money Bank na Bank BPH, Grupa GE Capital
            .dividewhite4
            h3.uppercase.text-center
              a(href='publication.html') Publikacje
            .dividewhite4
            h3.uppercase.text-center
              a(href='conference.html') Wystąpienia konferencyjne
        section.inner-section.bg-color02
          .container-fluid
            h3.uppercase.text-center Granty i stypendia
            .dividewhite4
            p Grant PRELUDIUM NCN nr 2012/05/N/HS6/03973 (2013 – 2017). Tytuł projektu: Różnice w postrzeganiu molestowania seksualnego ze względu na płeć ofiar i sprawców - efekt minimalizacji męskiej traumy.
            p  Stypendium dla doktorantów Laboratorium Contexte social et régulation de la cognition (Uniwersytet w Tuluzie – Jean Jaures, 2012/2013)
            p  Grant konferencyjny ufundowany przez Dyrektora Laboratorium Contexte social et régulation de la cognition (Uniwersytet w Tuluzie – Jean Jaures; uczestnictwo w konferencji w Estoril, Portugalia)
            p  Stypendium konferencyjne Interdyscyplinarnych Studiów Doktoranckich SWPS (uczestnictwo w konferencjach: Kazimierz Dolny, 2012 oraz Ciążeń 2011)
            p  Stypendium dla najlepszych doktorantów Interdyscyplinarnych Studiów Doktoranckich SWPS (2011/2012 oraz 2010/2011)
            p  Grant konferencyjny ufundowany przez Dziekana Wydziału Psychologii SWPS (uczestnictwo w konferencji w Lizbonie, Portugalia, 2011)
        section.inner-section.bg-color01
          .container-fluid
            h3.uppercase.text-center Działalność naukowa
            .dividewhite4
            h4 Międzynarodowe projekty badawcze i staże zagraniczne
            p
              | Przeprowadzanie badań na terenie Polski oraz analiza danych w ramach projektu World War 2 Moral Roles <br/>
              | (Kierownik projektu: Roger Giner-Sorolla, Uniwersytet w Kent; 2015 — 2017)
            p prezentowanie wyników badań Promiscuity, violence and gender dla Cognitive and Affective Sciences Research Unit URECA, Uniwersytet w Lille 3, Francja (grudzień 2010)
            p współprowadzenie badań na terenie Polski dla Research Center „Black Europe” Johannes Gutenberg University, Mainz, Niemcy (2006/2007)
            .dividewhite1
            h4 Członkowstwo w towarzystwach naukowych
            p
              | British Psychological Society, European Association of Social Psychology, Society for Personality and
              | Social Psychology, Society for the Psychology of Women (Division 35 of American Psychological
              | Association), Sociologists for Women Society
            .dividewhite1
            h4 Recenzje
            p
              | European Journal of Social Psychology, Sex Roles, Society for Personality and Social Psychology Student
              | Poster Award Competition (2013), SPSP Graduate Students Outstanding Research Award (2012), abstrakty na
              | konferencję National Multicultural Conference and Summit 2013 (2012)
        section.inner-section.bg-color02
          .container-fluid
            h3.uppercase.text-center Języki
            .dividewhite4
            .row
              .col-sm-2.font-accident-two-bold
                | polski
              .col-sm-8
                | język ojczysty
            .row
              .col-sm-2.font-accident-two-bold
                | angielski
              .col-sm-8
                | zaawansowany (C2)
            .row
              .col-sm-2.font-accident-two-bold
                | francuski
              .col-sm-8
                | komunikatywny (B1)
            .row
              .col-sm-2.font-accident-two-bold
                | islandzki
              .col-sm-8
                | podstawowy (A1)
        section.inner-section.bg-color01
          .container-fluid
            h3.uppercase.text-center Obsługa komputera
            .dividewhite4
            p
              | Statistical Package for the Social Sciences/ PASW Statistics; E-Prime; Microsoft Office; (K)Ubuntu; moodle
    include includes/footer
