doctype html
html(lang='en')
  include includes/head
  body#samuel.boxed
    #preloader
    include includes/header
    .content-wrap
      #mnie.inner-content
        section#page-title.inner-section.ui-menu-color01
          .container-fluid.nopadding
            h2.font-accident-two-bold.color01.uppercase(data-animation-origin='right', data-animation-duration='400', data-animation-delay='100', data-animation-distance='50px')
              | O mnie

        section.inner-section.bg-color01
          .container-fluid
            p
              | Jestem psychologiem spo&lstrok;ecznym i cz&lstrok;onkiem Laboratorium Work and Cognition (CLEE-LTC) na
              | Uniwersytecie w Tuluzie we Francji.
            p
              | Podczas przygotowywania rozprawy doktorskiej, pracowa&lstrok;am jako Kierownik Projektu na Uniwersytecie
              | SWPS, w grancie, kt&oacute;ry uzyska&lstrok;am od Narodowego Centrum Nauki. Zajmowa&lstrok;am si&eogon;
              | w nim spo&lstrok;eczn&aogon; percepcj&aogon; sprawc&oacute;w i ofiar molestowania seksualnego.
            p
              | W badaniach, kt&oacute;re prowadz&eogon; zajmuj&eogon; si&eogon; tym jak postrzegamy innych i jakie
              | indywidualne aspekty mog&aogon; wp&lstrok;ywa&cacute; na nasz&aogon; percepcj&eogon;. Jestem
              | szczeg&oacute;lnie zainteresowana wp&lstrok;ywem p&lstrok;ci na percepcj&eogon; ludzkich
              | zachowa&nacute; oraz tym jak ta percepcja mo&zdot;e wp&lstrok;yn&aogon;&cacute; na nasze zachowania
              | wobec os&oacute;b i oceny os&oacute;b, kt&oacute;re zachowuj&aogon; si&eogon; w spos&oacute;b zwykle
              | uwa&zdot;any za niezgodny z ich p&lstrok;ci&aogon;.
            p
              | Zachowania, kt&oacute;rymi si&eogon; zajmuj&eogon; s&aogon; zawzyczaj negatywne &mdash; jak postrzegamy
              | tych, kt&oacute;rzy krzywdz&aogon; innych? co ma najwi&eogon;kszy wp&lstrok;yw na nasz&aogon;
              | percepcj&eogon; tych os&oacute;b? w jaki spos&oacute;b chcemy ich ukara&cacute;? jak oceniamy
              | krzywd&eogon;, kt&oacute;r&aogon; wyrz&aogon;dzili?

    include includes/footer
