doctype html
html(lang='en')
  include includes/head
  body#samuel.boxed
    #preloader
    include includes/header
    .content-wrap
      #mnie.inner-content
        section#page-title.inner-section.ui-menu-color03
          .container-fluid.nopadding
            h2.font-accident-two-bold.color03.uppercase(data-animation-origin='right', data-animation-duration='400', data-animation-delay='100', data-animation-distance='50px')
              | Publikacje
        section.inner-section.bg-color01
          .container-fluid
            h3.uppercase.text-center Publikacje w czasopismach recenzowanych
            .dividewhite4
            p
              | <strong> Studzinska, A.</strong>, & Hilton, D. (2017).
              | <a href="http://link.springer.com/article/10.1007/s13178-016-0226-0" target="_blank">Minimization of
              | male suffering: Perception of victims and perpetrators of opposite-sex sexual coercion</a>.
              | <em>Sexuality Research and Social Policy</em>, 14, 1, 87-99.
              | Doi 10.1007/s13178-016-0226-0.
            p
              | <strong> Studzinska, A.</strong>, & Wojciszke, B. (2014).
              | <a href="http://www.spoleczna.psychologia.pl/pliki/2014_4/Studzinska_Wojciszke_PS_4_2014.pdf" target="_blank">Przekonania o
              | genezie różnic płci a legitymizacja nierówności kobiet i mężczyzn</a>. <em>Psychologia Społeczna</em>, 9, 4, 408-420.

        section.inner-section.bg-color02
          .container-fluid
            h3.uppercase.text-center Artykuły w recenzjach
            .dividewhite4
            p
              | <strong> Studzinska, A.</strong>, Bialobrzeska, B., & Hilton, D. (2017).
              | <em>Perceptions of different types of same sex and opposite sex sexual harassment</em>.
              | Manuskrypt złożony do publikacji.
            p
              | <strong> Studzinska, A.</strong>, & Wojciszke, B. (2016)
              | <em>Prevalence, perceptions and consequences of sexual harassment in Poland</em>.
              | Manuskrypt złożony do publikacji.
            p
              | Soubrier, Ch., Le Floch, V., Py, J., & <strong> Studzinska, A.</strong> (2016).
              | <em>What Men and Women Should and Should Not Do: Gender Differences in Gender Rules Reporting in France</em>.
              | Manuskrypt złożony do publikacji.

        section.inner-section.bg-color01
          .container-fluid
            h3.uppercase.text-center Artykuły w przygotowaniu
            .dividewhite4
            p
              | Bialobrzeska, O., Parzuchowski M., <strong> Studzinska, A.</strong>, Baryla, W., & Wojciszke, B. (2016).
              | <em>Propensity to take the agent perspective influences the relative importance of agency versus
              | communion in evaluations of self and others</em>.
              | Manuskrypt w przygotowaniu.
            p
              | <strong>Studzinska, A.</strong>, Bialobrzeska B., Hilton, D. (2017).
              | <em>No emotional harm, no foul - how the perceived harm caused to sexual harassment victims influences
              | the suggested punishment for the  perpetrator</em>.
              | Manuskrypt w przygotowaniu.
    include includes/footer
