doctype html
html(lang='en')
  include includes/head
  body#samuel.boxed
    #preloader
    include includes/header
    .content-wrap
      #mnie.inner-content
        section#page-title.inner-section.ui-menu-color05
          .container-fluid.nopadding
            h2.font-accident-two-bold.color05(data-animation-origin='right', data-animation-duration='400', data-animation-delay='100', data-animation-distance='50px')
              | T&Lstrok;UMACZENIA
        section.inner-section.bg-color01
          .container-fluid
            p
              | Od czasów studiów magisterskich zajmuję się tłumaczeniem na angielski oraz korektą artykułów naukowych napisanych w języku angielskim.
        section.inner-section.bg-color02
          .container-fluid
            h3.uppercase.text-center Referencje
            .dividewhite4
            p Artykuły nad którymi pracowałam były później opublikowane w takich czasopismach jak:
            ul
              li
                a(href='https://www.sbp-journal.com/index.php/sbp' target='_blank')
                  | Social Behavior and Personality: an international journal
              li
                a(href='http://journal.frontiersin.org/journal/psychology#' target='_blank')
                  | frontiers in Psychology
              li
                a(href='http://www.studiapsychologica.com/' target='_blank')
                  | Studia Psychologica
              li
                a(href='http://www.springer.com/social+sciences/wellbeing+%26+quality-of-life/journal/11482' target='_blank')
                  | Applied Research in Quality of Life
              li
                a(href='https://www.degruyter.com/view/j/ppb' target='_blank')
                  | Polish Psychological Bulletin
              li i innych.
            p Pomagałam również w przygotowaniu angielskich wersji aplikacji grantowych, czy angielskich wersji dokumentów potrzebnych do habilitacji.

            p Referencje, kontakty do osób, które zamówiły u mnie tłumaczenie/ korektę, lub przykłady przetłumaczonych artykułów mogę wysłać na życzenie.
        section.inner-section.bg-color01
          .container-fluid
            h3.uppercase.text-center Koszty współpracy i warunki rozliczenia
            .dividewhite4
            p Koszt jednej strony tłumaczeniowej<sup>*</sup> to 65 zł brutto.
              | W przypadku tłumaczenia ekspresowego — cena ustalana indywidualnie.

            p <sup>*</sup>jedna strona tłumaczeniowa to 1800 znaków ze spacjami przetłumaczonego tekstu.

            p Jako osoba fizyczna <strong>nie wystawiam faktur VAT</strong>.

            p
              | Przy tłumaczeniach, które rozliczane są z grantów podpisuję <strong>umowę o dzieło</strong>, a następnie
              | <strong>wystawiam rachunek</strong>.

            p Informacja ta nie stanowi oferty w rozumieniu przepisów Kodeksu Cywilnego oraz innych uregulowań prawnych.

            p Jeśli są Państwo zainteresowani współpracą - proszę o <a href='contact.html'>kontakt</a>.

    include includes/footer
