footer.padding-50.dark.ui-bg-color01(data-animation-origin='top', data-animation-duration='500', data-animation-delay='800', data-animation-distance='50px')
    .container-fluid.nopadding
        .row
            .col-sm-3.col-sm-offset-7.cv-link
                h5.font-accident-two-bold.uppercase Download cv
                .dividewhite1
                a(href="assets/CV_PL_Anna_Studzinska_website_20022017.pdf")
                    i.fa.fa-long-arrow-down(aria-hidden="true")
                    | Polish
                | &nbsp;
                a(href="assets/CV_EN_Anna_Studzinska_website_20022017.pdf")
                    i.fa.fa-long-arrow-down(aria-hidden="true")
                    | English
                .divider-dynamic
            .col-sm-2
                h5.font-accident-two-bold.uppercase Follow me
                .follow
                    ul.list-inline.social
                        li
                            a.rst-icon-facebook(target='_blank', href='https://www.facebook.com/AnnaMagdaStu')
                                i.fa.fa-facebook
                        li
                            a.rst-icon-twitter(target='_blank', href='https://twitter.com/studzianna')
                                i.fa.fa-twitter
                        li
                            a.rst-icon-linkedin(target='_blank', href='https://www.linkedin.com/in/anna-studzinska-18532444/')
                                i.fa.fa-linkedin
        .row
            .col-sm-9.copyrights
                p &copy; 2017 Anna Studzi&nacute;ska.
#back-top
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
script(src='https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js')
script(src='https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js')
script(src='https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js')
script(src='assets/vendor/mfp/js/jquery.magnific-popup.min.js?v=1.1.0', type='text/javascript')
script(src='assets/vendor/progressbar/progressbar.min.js?v=1.0.1', type='text/javascript')
script(src='assets/vendor/anicounter/jquery.counterup.min.js?v=1.0', type='text/javascript')
script(src='assets/vendor/pjax/jquery.pjax.min.js?v=1.9.6', type='text/javascript')
script(src='assets/vendor/owl-carousel/owl.carousel.min.js?v=2.1.0', type='text/javascript')
script(src='assets/vendor/headlines/headlines.min.js?v=1.0', type='text/javascript')
script(src='assets/custom/2.2.0/js/animation.js', type='text/javascript')
script(src='assets/custom/2.2.0/js/custom.js', type='text/javascript')