header
    section#top-navigation.container-fluid.nopadding
        .row.nopadding.ident.ui-bg-color01
            a(href='index.html')
                .col-md-4.vc-photo.photo-01 &nbsp;
            .col-md-8.vc-name.nopadding
                .row.nopadding.name
                    .col-md-10.name-title
                        h1.font-accident-two-extralight Anna Magda Studzi&nacute;ska
                    .col-md-2.nopadding.name-pdf
                        a(href="assets/CV_PL_Anna_Studzinska_website_20022017.pdf").hvr-sweep-to-right
                            i.flaticon-download149(title="Download CV.pdf")
                .row.nopadding.position
                    .col-md-12.position-title
                        section.cd-intro
                            h2.cd-headline.clip.is-full-width.font-accident-two-light
                                span Doctor of Psychology
                ul#nav.row.nopadding.cd-side-navigation
                    li.col-xs-4.col-sm-2.nopadding.menuitem.ui-menu-color01(data-animation-duration='1000', data-animation-delay='100')
                        a.hvr-sweep-to-bottom(href='index.html')
                            i.flaticon-insignia
                            |
                            span o mnie
                    li.col-xs-4.col-sm-2.nopadding.menuitem.ui-menu-color02(data-animation-duration='1000', data-animation-delay='300')
                        a.hvr-sweep-to-bottom(href='cv.html')
                            i.flaticon-graduation61
                            |
                            span cv
                    li.col-xs-4.col-sm-2.nopadding.menuitem.ui-menu-color03(data-animation-duration='1000', data-animation-delay='500')
                        a.hvr-sweep-to-bottom(href='publication.html')
                            i.flaticon-book-bag2
                            |
                            span publikacje
                    li.col-xs-4.col-sm-2.nopadding.menuitem.ui-menu-color04(data-animation-duration='1000', data-animation-delay='700')
                        a.hvr-sweep-to-bottom(href='conference.html')
                            i.flaticon-stats47
                            |
                            span PREZENTACJE KONFERENCYJNE
                    li.col-xs-4.col-sm-2.nopadding.menuitem.ui-menu-color05(data-animation-duration='1000', data-animation-delay='900')
                        a.hvr-sweep-to-bottom(href='translation.html')
                            i.flaticon-circle-5
                            |
                            span T&Lstrok;UMACZENIA
                    li.col-xs-4.col-sm-2.nopadding.menuitem.ui-menu-color06(data-animation-duration='1000', data-animation-delay='1100')
                        a.hvr-sweep-to-bottom(href='contact.html')
                            i.flaticon-earphones18
                            |
                            span KONTAKT